.post{
    background-color: #202024;
    height: 38.81rem;
    display: flex;
}.avatar{
    height: 3.75rem;
    width: 3.75rem;
    margin-top: 2.5rem;
   
}.post strong{
    color: aqua;
    display: block;
}.UserInfo{
    margin-top: 2,5rem;
    
}