.Sidebar{
    border: 1px solid green;
    height: 294px;
    border-radius: 8px;
    overflow: hidden;
  

}.cover{
    height: 72px;
    width: 100%;
    object-fit: cover;
    
    
}
    


.profile{
     display: flex;
     flex-direction:column;
     align-items: center;
}