.Sidebar{
    border: 1px solid green;
    height: 294px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202024;
  

}@media(max-width:768px){

    .Sidebar {
        height: 250px;
    
    
}.profile img{
    height:4rem;
    width:4rem;
}.profile{
    
    margin-top: -2.2rem!Important;
}
    

}
.cover{
    height: 72px;
    width: 100%;
    object-fit: cover;
    
    
}
    


.profile{
     display: flex;
     flex-direction:column;
     align-items: center;
     margin-top: -1rem;
     
}


.avatar{
   height:10rem;
   width: 3rem;
  
   border-radius: 8px;
   border: 1px solid  var(--gray-800);
   box-sizing: initial;
   outline: 2px solid var(--green-500);
}.Sidebar footer{

    border-top: 1px solid var(--gray-600);
    width: 12rem;
    height: 3.125rem;
    padding: 1rem 1.2rem 2rem;
    border: 1px solid var(--green-500);
    border-radius: 8px;
    margin-top: 1.5rem;
    flex-direction:column;
    align-items: center;
    
    
    

}.Sidebar footer a{
    color: var(--green-500);
    width: 100%;
    background: transparent;
    text-decoration: none;
    height: 50px;
    border-radius: 8px;
    font-weight: bold;
   
}.Sidebar strong{
  
    width: 100%;
    height: 1.62rem;
    font-size: 1rem;
    margin-top: 1rem;
}.Sidebar span{
    height: 1.4rem;
    font-size: 0.875rem;
    color:#8D8D99 ;
}.editlogo{
    margin-right: 0.75rem;
    color: #FFFFFF;
    
}.Sidebar footer a:hover, .Sidebar footer editlogo:hover{
    color:#FFFFFF;
    transition: color 0.2s;
}